body{
  background-image: linear-gradient(to bottom right, rgb(223, 223, 223), rgb(255, 255, 255));
}
.dssds{
  color: blue;
}

.nav{
  background-color: rgb(236, 236, 236);
  height: 50px;
}
.slide{
  height: 100vh;
}
.imgslider{
  height: 95vh;
}
.footerd{
  margin-top: 50px;
}
.card{
  box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.jumbotron{
  text-align: center;
}